<%= form_with(model: post) do |form| %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :kind, style: "display: block" %>
    <%= form.select :kind, ["text","image"], {},class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit" , class: 'btn btn-primary' %>
  </div>
<% end %>
