<!DOCTYPE html>
<html>
      <head>
            <title>Crumblr</title>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>

            <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
            <%= javascript_importmap_tags %>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
      </head>

      <body>
            <div class="container">

                  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                          <span class="fs-4">Crumblr <small>home baked</small></span>
                        </a>

                        <ul class="nav nav-pills nav justify-content-end">
                            <li class="nav-item">
                                  <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                  </header>
                  <div class="row">
                        <div class="col-md-6 offset-md-3">
                              <%= yield %>
                        </div>
                  </div>
            </div>
      </body>
</html>
